body {
  background-color: black;
}
.container {
  position: relative;
  background-color: white;
  margin: 0 20%;
  margin-top: 8%;
  height: 70vh;
}
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: white url(../images/hamb2.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20; /*Para passar para o topo e não ficar atrás da imagem*/
  cursor: pointer;
}
.toggle.active {
}

.toggle.toggle-container {
  position: absolute;
}
