<app-create-album></app-create-album>
<section class="album-shoots">
  <div class="portfolio">
    <div *ngFor="let album of albuns; let i = index" class="item">
      <img src="{{ album.fotos[0].url }}" alt="" />
      <div class="action">
        <p class="nomeAlbum">{{ album.nome }}</p>
        <a routerLink="/albuns/{{ album.id }}">Launch</a>
        <button (click)="removeAlbum(i)" class="button delete">
          <fa-icon [icon]="deleteIcon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</section>
