<section>
  <div class="title">
    <h1>Contacte-nos</h1>
    <p>Deixe os seus dados que entrarei em contacto o mais breve possível.</p>
  </div>
  <div class="contact">
    <div class="contact-form">
      <form>
        <div class="row">
          <div class="input50">
            <input type="text" placeholder="Primeiro Nome *" required />
          </div>
          <div class="input50">
            <input type="text" placeholder="Ultimo Nome *" required />
          </div>
        </div>
        <div class="row">
          <div class="input50">
            <input type="text" placeholder="Email *" required />
          </div>
          <div class="input50">
            <input type="text" placeholder="Assunto *" required />
          </div>
        </div>
        <div class="row">
          <div class="input100">
            <textarea placeholder="Mensagem"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="input100">
            <input type="submit" value="Enviar" />
          </div>
        </div>
      </form>
    </div>

    <div class="contact-info">
      <div class="info-box">
        <img src="images/address.png" class="contact-icon" alt="" />
        <div class="details">
          <h4>Address</h4>
          <p>28 Neon Tower, New York City, USA</p>
        </div>
      </div>
      <div class="info-box">
        <img src="images/email.png" class="contact-icon" alt="" />
        <div class="details">
          <h4>Email</h4>
          <a href="mailto:anyone@example.com">anyone@example.com</a>
          <a href="mailto:anyone@example.com">anyone@example.com</a>
        </div>
      </div>
      <div class="info-box">
        <img src="images/call.png" class="contact-icon" alt="" />
        <div class="details">
          <h4>Call</h4>
          <a href="tel:+19785555555">+1 978 555 5555</a>
          <a href="tel:+19784444444">+1 978 555 4444</a>
        </div>
      </div>
    </div>
  </div>
</section>
