.container {
  margin-top: 7em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.labelFile {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input[type="file"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button-add {
  background-color: lightgray;
  border-radius: 50%;
  color: black;
  font-size: 0.7em;
  border: none;
  margin: 10px;
  padding: 10px;
}
.adicionarFoto {
  padding-left: 1.2em;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.teste {
  width: 100px;
  position: fixed;
  bottom: 0px;
  left: 40px;
}

.back-button {
  position: absolute;
  bottom: 40vh;
  width: 100px;
  height: 100px;
  padding: 20px;
}
