<div class="button-container">
  <input
    class="back-button"
    type="image"
    src="/assets/icons/back.png"
    name="goBack"
    alt="goBack"
    (click)="goBack()"
  />
</div>
<form class="form" (submit)="addFoto()">
  <div class="container">
    <div class="adicionarFoto">
      <label class="labelFile" for="file"> Escolha uma foto: </label>
      <input
        accept="image/*"
        required
        type="file"
        name="inputFoto"
        placeholder="Adicionar foto nova"
        class="foto-input"
        [(ngModel)]="inputUrl"
      />
      <button type="submit" value="Add Foto" class="button-add">
        <fa-icon [icon]="addIcon"></fa-icon>
      </button>
    </div>
  </div>
</form>
